.faq {
  margin-top: 100px;
}

.faq__title {
  padding-top: 11px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-black);
}

.faq-item__container {
  margin-top: 33px;
  width: 100%;
}

.faq-item {
  border-top: 1px solid var(--color-light-grey);
  border-bottom: 1px solid var(--color-light-grey);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-black);
  letter-spacing: -0.3px;
  margin-top: -1px;
}

.ac {
  border: none;
  margin: 0;
}

.ac .ac-trigger {
  font-family: "Montserrat";
  border-top: 1px solid var(--color-light-grey);
  border-bottom: 1px solid var(--color-light-grey);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-black);
  letter-spacing: -0.3px;
  margin-top: -1px;
}

.ac .ac-trigger::after {
  display: none;
}

.ac .ac-trigger br {
  display: none;
}

.ac .ac-panel .ac-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-black);
  font-family: "Montserrat";
  padding: 0;
}

.ac .ac-panel {
  width: 56.6666666667%;
}

.ac .ac-trigger:focus {
  color: var(--color-orange);
}

.ac.is-active .faq-plus {
  transform: rotate(45deg);
  transition: 0.5s;
}

.faq-item:last-child {
  border-bottom: 1px solid var(--color-light-grey);
}

/* интерактивные состояния */

.faq-item:hover {
  border-color: var(--color-orange);
  color: var(--color-orange);
  z-index: 1;
}

.faq-item:hover ellipse {
  fill: var(--color-orange);
}

.faq-item:hover path {
  fill: var(--color-white);
}

.faq-item:focus {
  border-color: var(--color-orange);
  color: var(--color-orange);
  z-index: 1;
  outline: none;
}

.faq-item:focus ellipse {
  fill: var(--color-orange);
}

.faq-item:focus path {
  fill: var(--color-white);
}

.faq-item:active {
  color: var(--color-black);
  border-color: var(--color-light-grey);
}

.faq-item:active ellipse {
  fill: var(--color-light-grey);
}

.faq-item:active .faq-plus {
  transform: rotate(45deg);
  transition: 0.5s;
}

.faq-plus:active path {
  position: relative;
  fill: #666666;
}

.faq-plus:active ellipse {
  fill: #ececec;
}
